<!doctype html>
<!-- <html lang="en"> -->
<html xmlns:th="http://www.thymeleaf.org"
    th:with="lang=${#locale.language}" th:lang="${lang}">

    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Molokotech Team</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

		<!-- Bing auth -->
		<meta name="msvalidate.01" content="78E99D48650540E98A0BE41EB707A33F" />
		<!-- Bing auth -->

		<!-- Meta OG Start-->
		<meta property="og:title" content="Desarrollo de Software" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://molokotech.com" />
		<meta property="og:image" content="https://molokotech.herokuapp.com/img/openGraphFacebook.jpg" />
		<!-- Meta OG End -->
		
		<!-- Favicon start -->
		<link rel="apple-touch-icon" sizes="180x180" href="../img/logos/cropped-favicon-192x192.png">
		<link rel="icon" type="image/png" href="../img/logos/cropped-favicon-192x192.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../img/logos/cropped-favicon-192x192.png" sizes="16x16">
		<meta name="theme-color" content="#ffffff">
		<!-- Favicon end -->

        <link href="../css/bootstrap.css" rel="stylesheet" />
        <link href="../css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet" />
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79204873-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-79204873-2');
		</script>
    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="#">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="../img/logos/logoMolokotech.png" alt="Molokotech Logo">
                            </div>
                            <div class="brand">
                                Moloko<span style="color:Gold;">Tech</span> Team
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="mailto:info@molokotech.com">
                            <i class="fa fa-envelope"></i>
                            <span th:text="#{index.email}">info@molokotech.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fab fa-whatsapp"></i>
                            +549-11-5736-2930
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fab fa-whatsapp"></i>
                            +549-11-5318-9339
                            </a>
                        </li>
                        <!-- Should be unless, but if we need to add a new language is better this way -->
                        <li th:if="${#locale.language} == 'es'">
			            	<a th:href="@{?lang=en}"> <img src="../img/flags/flag-usa-40x25.png"> English</a>
                        </li>
			            <li th:if="${#locale.language} == 'en'">
			            	<a th:href="@{?lang=es}"> <img src="../img/flags/spain-flag-40x25.png"> Español</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="../img/template/bg3.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="parallax-image">
                                <img class="phone" src="../img/template/iphone3.png" style="margin-top: 20px"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description">
                                <h2 th:text="#{index.developideas}">Desarrollamos tus ideas.</h2>
                                <br>
                                <h5 th:text="#{index.developideas.content}">Somos un equipo de desarrollo sólido, con el objetivo de brindar soluciones digitales a diferentes problemáticas actuales. Convertimos tus ideas en software.</h5>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-simple btn-neutral">
                                <i class="fab fa-apple"></i>
                                </button>
                                <button class="btn btn-simple btn-neutral">
                                <i class="fab fa-android"></i>
                                </button>
                                <button class="btn btn-simple btn-neutral">
                                <i class="fab fa-windows"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text"><strong th:text="#{index.softdevelopment}">Desarrollo de Software</strong></h4>
                    <p th:text="#{index.softdevelopment.content}">
                   		Desarrollamos Software Cloud con las tecnologías más sólidas del mercado. Sistemas Web y mobile, para cualquier rubro, entretenimiento o empresariales, realizamos integraciones de diferentes tecnologías. 
                    </p>
                    <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img src="../img/logos/logoThymeleaf.png"/></i>
                            <li ><img src="../img/logos/logoJava.png"/></li>
                            <li ><img src="../img/logos/logoSpring.png"/></li>
                            <li ><img src="../img/logos/logoPostgresql.png"/></li>
                            <li ><img src="../img/logos/logoMongodb.png"/></li>
                            <li ><img src="../img/logos/logoHibernate.png"/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="description">
                               <h4 class="header-text"><strong th:text="#{index.multiplatform}">Responsive</strong></h4>
                                <p th:text="#{index.multiplatform.content1}">Nuestras web están diseñadas para que sean accesibles en forma correcta tanto en sistemas desktop como en mobile </p>
                                <p th:text="#{index.multiplatform.content2}">Brindamos soluciones de seguridad para aquellas aplicaciones que lo necesiten.
                                <p>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-xs">
                            <img src="../img/template/mac.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="description-carousel" class="carousel fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="../img/template/examples/mpExample.png" alt="">
                                    </div>
                                    <div class="item active">
                                        <img src="../img/template/examples/ppExample.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="../img/template/examples/mp-pp.png" alt="">
                                    </div>
                                </div>
                                <ol class="carousel-indicators carousel-indicators-blue">
                                    <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text"><strong th:text="#{index.integratedpayments}">Sistemas de pago</strong><h4>
                            <p th:text="#{index.integratedpayments.content}">
                            	Experiencia en integraciones de Sistemas de pago tales como MercadoPago, Todo Pago y PayPal (APIs de pago) en las WebApp o Aplicaciones mobile.    
                            </p>
                            <a href="https://mercadopago.com.ar" class="btn btn-fill btn-info" target="_blank" data-button="info">MercadoPago</a>
                        	<a href="https://paypal.com" class="btn btn-fill btn-secondary" target="_blank" data-button="info">PayPal</a>
                        	<a href="https://todopago.com.ar" class="btn btn-fill btn-danger" target="_blank" data-button="info">TodoPago</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center"><strong th:text="#{index.products}">Productos Propios</strong></h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
	                                <img class="card-img-top" src="../img/template/examples/iconoPet150.png"/>
                                </div>
                                <div class="text">
                                    <h4><strong><a href="https://pet-qr.com" target="_blank">Pet-QR</a></strong></h4>
                                    <p th:text="#{index.products.petqr}">WebApp para la geolocalización de animales en un código QR.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <img class="card-img-top" src="../img/template/examples/iconoRh150.png"/>
                                </div>
                                <h4><strong><a href="https://return-home.com" target="_blank">Return-Home</a></strong></h4>
                                <p th:text="#{index.products.returnhome}">WebApp para ayudar a retornar a sus hogares a personas con desorientación psicomotora por medio de un código QR y el almacenamiento de sus coordenadas en la Cloud, el mismo cuenta con medidas de seguridad por tratarse de personas.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <img class="card-img-top" src="../img/template/examples/iconoQrFactory150.png"/>
                                </div>
                                <h4><strong><a href="https://qr-factory.herokuapp.com" target="_blank">QR-Factory</a></strong></h4>
                                <p th:text="#{index.products.qrfactory}">Crea códigos QR gratuitamente con nuestra herramienta sin publicidades ni PopUps molestos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="../img/template/bg3.jpg"/>
                    </div>
                    <div class="info">
                        <h1 th:text="#{index.whatsapp}">Contáctese ya mismo por Whatsapp</h1>
                        <a href="https://api.whatsapp.com/send?phone=5491157362930&text=Consulta%20a%20Molokotech" class="btn btn-neutral btn-lg btn-fill"><span th:text="#{index.sendmessage}">Enviar Mensaje</span> <i class="fab fa-whatsapp" style="color:LimeGreen;"></i></a>
                        <p th:text="#{index.whatsapp.content}">Puede enviarnos un mail a info@molokotech.com o directamente tocar el botón de abajo, se le abrirá su Whatsapp con nuestro chat, luego sólo presione enviar, en la brevedad nos comunicaremos con usted.</p>
                    	<p><strong style="color:Gold">info@molokotech.com </strong> <strong style="color:LimeGreen">Whatsapp</strong></p>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#" th:text="#{index.contact}">
                                Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple" target="_blank" href="https://www.facebook.com/molokotech">
                        <i class="fab fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                    <div class="copyright">
                        &copy; 2019 <a href="http://molokotech.com">Molokotech Team</a>, <span th:text="#{index.developideas}">desarrollamos tus ideas</span>.
                    </div>
                </div>
            </footer>
        </div>

    </body>
    <script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/awesome-landing-page.js" type="text/javascript"></script>
</html>
