<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Molokotech Team</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

		<!-- Meta OG Start-->
		<meta property="og:title" content="ViviPropiedades servicios inmobiliarios" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://molokotech.com" />
		<meta property="og:image" content="https://molokotech.herokuapp.com/img/openGraphFacebook.png" />
		<!-- Meta OG End -->
		
		<!-- Favicon start -->
		<link rel="apple-touch-icon" sizes="180x180" href="../img/logos/logo.png">
		<link rel="icon" type="image/png" href="../img/logos/logo.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../img/logos/logo.png" sizes="16x16">
		<meta name="theme-color" content="#ffffff">
		<!-- Favicon end -->

        <link href="../css/bootstrap.css" rel="stylesheet" />
        <link href="../css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="#">
                        <div class="logo-container">
                            <div>
                                <img src="../img/logos/logo.png" alt="ViviProp" width="200px">
                            </div>
                            <div class="brand">
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                            <i class="fas fa-phone"></i>
                            	11 4601-6588
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fab fa-whatsapp"></i>
                            	11 4973-5711
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="fas fa-map"></i>
                            	Murguiondo 3854, Cap.Fed.
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="../img/template/ba.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="parallax-image">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description">
                                <h2>Me presento.</h2>
                                <br>
                                <h5 style="text-align:justify;text-justify: inter-word;">Mi nombre es Viviana Perrone, brindo servicios inmobiliarios para lo cual poseo más de 15 años de experiencia en el rubro, a su vez soy Arquitecta con basta experiencia en pequeños y grandes proyectos lo cual me permite una visión más amplia a la hora de brindar mis servcicios.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text"><strong>Servicios inmobiliarios</strong></h4>
                   	<p>
                   		<strong>
                   			Soy un agente intermediario para celebrar con éxito diferentes tipos de negocios, tales como ventas o alquileres de inmuebles para cualquier fin, tanto sea para vivir como para utilizar profesionalmente con fines de lucro. 
                    	</strong>
                    </p>
                    <div class="logos">
                        <div class="buttons">
                                <button class="btn btn-simple btn-neutral">
                                <img alt="Cucicba" width="150px" src="../img/logos/cucicba.png">
                                </button>
                                <button class="btn btn-simple btn-neutral">
                                <img alt="Cucicba" width="150px" src="../img/logos/logo-kennedy.png">
                                </button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="description">
                               <h4 class="header-text"><strong>innovación</strong></h4>
                                <p><strong>Publico su vivienda en portales como MercadoLibre para así llegar a más gente de lo que una vidriera normalmente llegaría, a su vez brindo el servicio gratuito para mis clientes de una grabación por medio de Drones con su posterior editado para que el impacto visual sea más eficiente y la venta o alquiler más rápida.</strong></p>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-1 hidden-xs" style="position: relative;padding-bottom: 56.25%">
                            <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="https://www.youtube.com/embed/wOYg1KygkXY"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="../img/template/ba1.jpg"/>
                    </div>
                    <div class="info">
                        <h1>Contáctese por Whatsapp</h1>
                        <a href="https://api.whatsapp.com/send?phone=5491149735711&text=Consulta%20a%20Viviana%20desde%20la%20Web" class="btn btn-neutral btn-lg btn-fill"><span th:text="#{index.sendmessage}">Enviar Mensaje</span> <i class="fab fa-whatsapp" style="color:LimeGreen;"></i></a>
                        <p>Puede comunicarse conmigo directamente al Whatsapp tocando el siguiente botón, se le abrirá su Whatsapp con mi chat, luego sólo presione enviar junto con su consulta, así de fácil.</p>
                    	<p><strong style="color:Gold">tutto_inmuebles@yahoo.com.ar </strong> <strong style="color:LimeGreen">Whatsapp</strong></p>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                Contacto
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple" target="_blank" href="https://www.facebook.com/vivipropiedades/">
                        <i class="fab fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                    <div class="copyright">
                        &copy; 2019 <a href="http://molokotech.herokuapp.com">Molokotech Team</a>, <span>desarrollamos tus ideas</span>.
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="../js/awesome-landing-page.js" type="text/javascript"></script>
</html>
